<hr>

<footer class="p-container foot">

    <section class='bp'>
        <h1>
            <i>~Logo~</i>
        </h1>
        <h2>Business Plan Cm</h2>
        <p>Cameroun, Yaounde: Nklobisson Entree Marcher</p>
        <p class="social">
            {%- if page.lang === 'en' -%}
                You can follow us on:
            {%- else -%}
                Vous pouvez nous suivre sur:
            {%- endif -%} <br>
            <a href=""><img src="../assets/telegram.svg" alt="tg"/>
            </a>
            <a href=""><img src="../assets/whatsapp.svg" alt="fb"/></a>
            <a href=""><img src="../assets/facebook.svg" alt="tg"/>
            </a>
            <a href=""><img src="../assets/gmail.svg" alt="fb"/></a>
        </p>
    </section>

    <section class="foot-section">
        <h3>Pages</h3>
        {% for item in navigation[page.lang] %}
            <a href="{{ item.url | url }}">{{ item.text }}</a>
        {% endfor %}
    </section>

    <section class="foot-section">
        <h3>Nos Services</h3>
        {%- for item in collections.service -%}
            <a href="{{ item.url }}">
                {{ item.data.title }}</a>
        {%- endfor -%}
    </section>

</footer>

<footer class='p-container'>
    <p>Copyright &copy; 2023 Business Plan. All rights reserved</p>
    <p>
        <a href="">
            <img src="../assets/github.svg" alt="fb"/>
        </a>
        Designed &amp; Coded by nthadrien.</p>
</footer>