--- 
layout: base.njk
---
<header>
    <section>
        <h1>{{ title }}</h1>
        <p>
            {{ description }}
        </p>
    </section>
</header>

<main class="p-container">
    {{ content | safe }}
</main>

<style>
    header {
        background: black url("../assets/home.jpg");
    }
</style>